<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Product</h1>
			<hr>
			<a class="btn btn-sm btn-primary" th:href="@{/add_product}">Add
				Product</a>
			<hr>
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Product List</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Id</th>
									<th>Product Name</th>
									<th>Brand Name</th>
									<th>Price</th>
									<th>Size</th>
									<th>Image</th>
									<th>Action</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>Id</th>
									<th>Product Name</th>
									<th>Brand Name</th>
									<th>Price</th>
									<th>Size</th>
									<th>Image</th>
									<th>Action</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="p : ${product}">
									<td th:text="${p.id}">Tiger Nixon</td>
									<td th:text="${p.productName}">System Architect</td>
									<td th:text="${p.brand}">System Architect</td>
									<td th:text="${p.price}">System Architect</td>
									<td th:text="${p.size}">System Architect</td>
									<td><img src="" th:src="@{'/admin/img/'+${p.image}}"
										width="75" height="75" /></td>
									<td><a class="btn btn-sm btn-info"
										th:href="@{'/editProduct/'+${p.id}}">Edit</a>&nbsp;<a
										class="btn btn-sm btn-danger"
										th:href="@{'/deleteProduct/'+${p.id}}">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->
	</section>
</body>
</html>